<table id="spending">
  <thead>
    <tr>
      <th class="table_header">
        <td><h2>Spending</h2></td>
        <td><a class="add" href="/combined/spending/new"><button>Add</button></a></td>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @spending_items.each_pair do |category, amount| %>
      <tr>
        <td><%= category %></td>
        <td><%= amount %></td>
        <td><a class="edit" href="/combined/spending/edit/<%= category %>">edit</a></td>
        <td>
          <form action="/combined/spending/delete/<%= category %>" method="post" class="delete">
            <button type="submit">Delete</button>
          </form>
        </td>
      </tr>
    <% end %>

    <tr>
      <td>Total Spending:</td>
      <td><%= @spending_total %></td>
    </tr>
  </tbody>
</table>

<table id="income">
  <thead>
    <tr>
      <th class="table_header">
        <td><h2>Income</h2></td>
        <td><a class="add" href="/combined/income/new"><button>Add</button></a></td>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @income_items.each_pair do |category, amount| %>
      <tr>
        <td><%= category %></td>
        <td><%= amount %></td>
        <td><a class="edit" href="/combined/income/edit/<%= category %>">edit</a></td>
        <td><form action="/combined/income/delete/<%= category %>" method="post" class="delete">
            <button type="submit">Delete</button>
          </form>
        </td>
      </tr>
    <% end %>

    <tr>
      <td>Total Income:</td>
      <td><%= @income_total %></td>
    </tr>

    <tr>
      <td>Net In/Out:</td>
      <% if @net_total >= 0 %>
        <td style="background-color: green;"><%= @net_total %></td>
      <% else %>
        <td style="background-color: red;"><%= @net_total %></td>
      <% end %>
    </tr>

  </tbody>
</table>

<div id="bar">
  <div>
    <%= @chart %>
  </div>
</div>

<% content_for :header_links do %>
  <h2>Combined At-a-glance</h2>  
<% end %>