<table id="glance">
  <div>
    <a class="add" href="/combined/spending/new"><button>Add Spending</button></a>
  </div>

  <h2>Spending</h2>
  <% @spending_items.each_pair do |category, amount| %>
    <tr>
      <td><%= category %></td>
      <td><%= amount %></td>
      <td><a href="/combined/spending/edit/<%= category %>">edit</a></td>
      <td><form action="/combined/spending/delete/<%= category %>" method="post" class="delete">
          <button type="submit">Delete</button>
        </form>
      </td>
    </tr>
  <% end %>
  <tr>
    <td>Total Spending:</td>
    <td><%= @spending_total %></td>
  </tr>
</table>

<table id="glance">
  <div>
    <a class="add" href="/combined/income/new"><button>Add Income</button></a>
  </div>

  <h2>Income</h2>
  <% @income_items.each_pair do |category, amount| %>
    <tr>
      <td><%= category %></td>
      <td><%= amount %></td>
      <td><a href="/combined/income/edit/<%= category %>">edit</a></td>
      <td><form action="/combined/income/delete/<%= category %>" method="post" class="delete">
          <button type="submit">Delete</button>
        </form>
      </td>
    </tr>
  <% end %>
  <tr>
    <td>Total Income:</td>
    <td><%= @income_total %></td>
  </tr>
  <tr>
    <td>Net In/Out:</td>
    <% if @net_total >= 0 %>
      <td style="background-color: green;"><%= @net_total %></td>
    <% else %>
      <td style="background-color: red;"><%= @net_total %></td>
    <% end %>
  </tr>

</table>

<div id="bar">
  <%= @chart %>
</div>

<% content_for :header_links do %>
  <h2>Combined At-a-glance</h2>
  
  <form>
    <div id="mode">
      <a href="/spending">Spending</a>
      <a href="/income">Income</a>
      <a href="/combined">Combined</a>
    </div>
  </form>

<% end %>