<h2>Edit <%= @mode %> in '<%= @category %>' category:</h2>
<form method="post" action="/<%= @mode %>/edit/<%= @category %>">
  <dl>
  
    <dt>
      <label for="category">category:</label>
    </dt>
    <dd>
      <input name="category" placeholder="Category" type="text" value="<%= @category %>">
    </dd>
    <div id="note">Note: using an existing category name will overwrite that category.</div>

    <dt>
      <label for="category">amount:</label>
    </dt>
    <dd>
      <input name="amount" placeholder="0" type="number" value="<%= @amount %>">
    </dd>

  </dl>
  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="/<%= @mode %>">Cancel</a>
  </fieldset>
</form>