<!-- index.erb -->
<h2>At-a-glance</h2>

<table id="glance">
  <% @items.each_pair do |category, amount| %>
    <tr>
      <td><%= category %></td>
      <td><%= amount %></td>
      <td><a href="/edit/<%= category %>">edit</a></td>
      <td><form action="/delete/<%= category %>" method="post" class="delete">
          <button type="submit">Delete</button>
        </form>
      </td>
    </tr>
  <% end %>
  <tr>
    <td>Total:</td>
    <td><%= @total %></td>
  </tr>

</table>

<div id="pie">
  <%= @chart %>
</div>

<% content_for :header_links do %>
  <form>
    <h2>Select mode:</h2>
    <input type="radio" id="spending" name="spending" value="spending" checked>
    <label for="spending">Spending</label>
    <input type="radio" id="income" name="income" value="income">
    <label for="income">Income</label>
    <input type="radio" id="combined" name="combined" value="combined">
    <label for="combined">Combined</label>
    <button type="submit" name="radio">Update</button>
  </form>
  <a class="add" href="/new"><button>Add Item</button></a>
<% end %>